%section#artists.bg-dark-grey
  .no-gutter.splashes
    .col-md-12.header.text-center
      %h1.section-heading.vcenter
        Artists
      .gradient2
  .container
    .row
      - @artists.keys.sort.each do |letter|
        .col-md-3
          .row.subsection
            .col-md-2.hexagon.text-center
              %h2.section-heading= letter
          - @artists[letter].each do |artist|
            .row
              = link_to(artist) do
                %p= artist.name
