%section#about.grid.bg-grey
  .container-fluid
    .row.no-gutter.splashes
      .col-md-12.header.text-center
        .ph{:style => "background-image: url(#{@about.cover.url(:large)})"}
        .vcenter
          %h1.section-heading.vcenter= t('about.title')
        .gradient
    .container
      .row
        .col-md-10.col-md-offset-1
          .row
            .col-md-12
              .section-body.text-block
                #{simple_format(@about.long_about)}
