/* Navigation */

nav{
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
    -webkit-transition: all .6s;
    -moz-transition: all .6s;
    transition: all .6s;
    .container{
      width: calc(100% - 60px);
      padding: 0;
    }
    .second-menu{
        background-color: #fff;
        padding: 0 30px;
        a{
            color: #101010;
        }
    }
    .box{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .logo{
        height: 43px;
        img{
          width: 162px;
          margin-top: 3px;
        }
    }
    .btn{
        margin-top: 7px;
    }
    .list-inline{
        margin: 5px 0;
    }
}
.c-hamburger {
  display: inline-block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 30px;
  height: 45px;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  -webkit-transition: background 0.3s;
          transition: background 0.3s;
  float: right;
}

.c-hamburger:focus {
  outline: none;
}

.c-hamburger span {
  display: block;
  position: absolute;
  top: 22px;
  left: 0px;
  right: 0px;
  height: 2px;
  background: #fff;
}

.c-hamburger span::before,
.c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  content: "";
}

.c-hamburger span::before {
  top: -10px;
}

.c-hamburger span::after {
  bottom: -10px;
}

.c-hamburger--htx {
  background-color: transparent;
}

.c-hamburger--htx span {
  -webkit-transition: background 0s 0.3s;
          transition: background 0s 0.3s;
}

.c-hamburger--htx span::before,
.c-hamburger--htx span::after {
  -webkit-transition-duration: 0.3s, 0.3s;
          transition-duration: 0.3s, 0.3s;
  -webkit-transition-delay: 0.3s, 0s;
          transition-delay: 0.3s, 0s;
}

.c-hamburger--htx span::before {
  -webkit-transition-property: top, -webkit-transform;
          transition-property: top, transform;
}

.c-hamburger--htx span::after {
  -webkit-transition-property: bottom, -webkit-transform;
          transition-property: bottom, transform;
}

/* active state, i.e. menu open */
.c-hamburger--htx.is-active {
}

.c-hamburger--htx.is-active span {
  background: none;
}

.c-hamburger--htx.is-active span::before {
  top: 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.c-hamburger--htx.is-active span::after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.c-hamburger--htx.is-active span::before,
.c-hamburger--htx.is-active span::after {
  -webkit-transition-delay: 0s, 0.3s;
          transition-delay: 0s, 0.3s;
}
ul.social-buttons-nav {
  float:right;
}
ul.social-buttons-nav li a {
    display: block;
    font-size: 1em;
    line-height: 3em;
    color: #000;
    outline: 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s
}
ul.social-buttons-nav.icons li a {
  display: block;
  font-size: 1.4em;
  line-height: 1.45em;
}
ul.social-buttons-nav li a:hover,
ul.social-buttons-nav li a:focus,
ul.social-buttons-nav li a:active {
    color: #84b6bc;
    text-decoration: none;
}
ul.social-buttons-nav li a:hover,
ul.social-buttons-nav li a:focus,
ul.social-buttons-nav li a:active {
    p{
      color: #84b6bc;
    }
}
ul.social-buttons-nav p{
  font-size: 1em;
  line-height: 3em;
  font-weight: 700;
  text-transform: uppercase;
}

.subscribe-button {
  color: #fff;
  background-color: transparent;
  border:2px solid #fff;
  text-transform: uppercase;
  border-radius: 0px;
  font-weight: 700;
  letter-spacing: .5px;
}

.subscribe-button:hover,
.subscribe-button:focus,
.subscribe-button:active,
.subscribe-button.active {
  color: #000;
  background-color: #fff;
  border-color: #fff;
}
.menu-inner{
    position: relative;
    top: 50%;
    -webkit-transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1) 0s;
    transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1) 0s;
    margin-top: 20px;
    text-align: left !important;
    transform: translate(0,-50%);
    p{
        width: 100%;
        letter-spacing: 0.025em;
        font-weight: 300;
        font-size: 1.1em;
        color: #c0c0c0;
        text-align: center;
        width: 100%;
        display: block;
        line-height: 1.8;
    }
}
.menu{
  width: 100%;
  top: 0;
  left:0;
  height: 100%;
  background-color: rgba(32,24,25,0.98);
  -webkit-transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1) 0s;
  transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1) 0s;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  z-index: 1031;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: opacity .6s cubic-bezier(.23,1,.32,1) .3s,visibility .6s cubic-bezier(.23,1,.32,1) .3s;
  transition: opacity .6s cubic-bezier(.23,1,.32,1) .3s,visibility .6s cubic-bezier(.23,1,.32,1) .3s;
}
.text-bottom{
  position: absolute;
  padding-bottom: 3em;
  bottom: 0;
  width: 100%;
  text-align: center;
  opacity: 0;
  -webkit-transition-delay: .1s;
  transition-delay: .1s;
  -webkit-transform: translateY(100%) translateZ(0);
  transform: translateY(100%) translateZ(0);
  -webkit-transition: opacity .6s cubic-bezier(.23,1,.32,1),-webkit-transform .6s cubic-bezier(.23,1,.32,1);
  transition: opacity .6s cubic-bezier(.23,1,.32,1),-webkit-transform .6s cubic-bezier(.23,1,.32,1);
  transition: opacity .6s cubic-bezier(.23,1,.32,1),transform .6s cubic-bezier(.23,1,.32,1);
  transition: opacity .6s cubic-bezier(.23,1,.32,1),transform .6s cubic-bezier(.23,1,.32,1),-webkit-transform .6s cubic-bezier(.23,1,.32,1)
}
.menu.active{
  opacity: 1;
  visibility: visible;
  .text-bottom{
    opacity: 1;
    -webkit-transform: translateY(0) translateZ(0);
    transform: translateY(0) translateZ(0);
  } 
}


nav{
  border:0px;
  .second-menu{
    background-color: transparent;
    border:0px;
  }
  .btn-nav {
    color: #fff;
    border:2px solid #fff;
  }
  .btn-nav:hover,
  .btn-nav:focus,
  .btn-nav:active,
  .btn-nav.active,
  .open .dropdown-toggle.btn-nav {
      color: #000;
      background-color: #fff;
      border-color: #fff;
  }
}
nav.shrink{
  background-color: #101010;
  border-bottom: 1px solid #333;
  .second-menu{
    background-color: #fff;
    border-bottom: 1px solid #eee;
    a{
      color: #101010;
    }
  }
}

.bottom-nav{
  background: -moz-linear-gradient(top,  rgba(24,26,27,0) 0%, rgba(24,26,27,1) 98%, rgba(24,26,27,1)
  100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(24,26,27,0) 0%,rgba(24,26,27,1) 98%,rgba(24,26,27,1)
  100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(24,26,27,0) 0%,rgba(24,26,27,1) 98%,rgba(24,26,27,1)
  100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00181a1b',
  endColorstr='#181a1b',GradientType=0 ); /* IE6-9 */

  position: fixed;
  z-index: 1032;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px 45px;
  ul.social-buttons-nav {
    float:left !important;
  }
}

ul.social-buttons-nav li a {
  color: #fff;
}
@media (min-width:768px){
  .c-hamburger {
    float: none;
  }
  nav{
    position: fixed;
    background-color: transparent;
    .box{
        padding-top: 40px;
        padding-bottom: 32px;
    }
    .container{
      width: calc(100% - 60px);
    }
  }
}
@media (min-width:1200px){
  ul.social-buttons-nav {
    float:left;
  }
}
.subscribe{
  z-index: 1030;
  width: 100%;
  top: 0;
  left:0;
  height: 100%;
  background-color: rgba(32,24,25,0.98);
  position: fixed;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: opacity .6s cubic-bezier(.23,1,.32,1) .3s,visibility .6s cubic-bezier(.23,1,.32,1) .3s;
  transition: opacity .6s cubic-bezier(.23,1,.32,1) .3s,visibility .6s cubic-bezier(.23,1,.32,1) .3s
}
.subscribe.active{
  opacity: 1;
  visibility: visible;
}
.menu__list {
  position: relative;
  text-align: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu__item {
  display: inline-block;
  margin: 2em;
  -webkit-transition-delay: .08s;
  transition-delay: .08s;
  -webkit-transform: translateY(100%) translateZ(0);
  transform: translateY(100%) translateZ(0);
  -webkit-transition: opacity .6s cubic-bezier(.23,1,.32,1),-webkit-transform .6s cubic-bezier(.23,1,.32,1);
  transition: opacity .6s cubic-bezier(.23,1,.32,1),-webkit-transform .6s cubic-bezier(.23,1,.32,1);
  transition: opacity .6s cubic-bezier(.23,1,.32,1),transform .6s cubic-bezier(.23,1,.32,1);
  transition: opacity .6s cubic-bezier(.23,1,.32,1),transform .6s cubic-bezier(.23,1,.32,1),-webkit-transform .6s cubic-bezier(.23,1,.32,1)
}
.menu__item:nth-child(1){
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.menu__item:nth-child(2){
  -webkit-transition-delay: 0.34s;
  transition-delay: 0.34s;
}
.menu__item:nth-child(3){
  -webkit-transition-delay: 0.38s;
  transition-delay: 0.38s;
}
.menu__item:nth-child(4){
  -webkit-transition-delay: 0.42s;
  transition-delay: 0.42s;
}
.menu__item:nth-child(5){
  -webkit-transition-delay: 0.44s;
  transition-delay: 0.44s;
}
.menu.active{
  .menu__item{
    opacity: 1;
    margin-top: 0;
    -webkit-transform: translateY(0) translateZ(0);
    transform: translateY(0) translateZ(0);
  }
}

.menu__link {
  font-size: 2em;
  font-weight: 700;
  text-transform: uppercase;
  padding: .5em;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.menu__link:hover,
.menu__link:focus {
  outline: none;
  text-decoration: none;
}

.menu--shylock .menu__link {
  position: relative;
  margin: 0 1em;
  padding-right: 0;
  padding-left: 0;
  color: #b5b5b5;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
}

.menu--shylock .menu__item--current .menu__link,
.menu--shylock .menu__item--current .menu__link:hover,
.menu--shylock .menu__item--current .menu__link:focus {
  color: #5bc6d0;
}

.menu--shylock .menu__item--current .menu__link::after,
.menu--shylock .menu__item--current .menu__link::before {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}

.menu--shylock .menu__item--current .menu__link::before {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.menu--shylock .menu__link:hover,
.menu--shylock .menu__link:focus {
  color: #b5b5b5;
}

.menu--shylock .menu__link:hover::before,
.menu--shylock .menu__link:focus::before {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.menu--shylock .menu__link::before,
.menu--shylock .menu__link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  -webkit-transform: scale3d(0, 1, 1);
  transform: scale3d(0, 1, 1);
  -webkit-transform-origin: center left;
  transform-origin: center left;
  -webkit-transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
  transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.menu--shylock .menu__link::before {
  background: #b5b5b5;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

.menu--shylock .menu__link::after {
  background: #5bc6d0;
}

