html, body {
    height: 100%;
    position: relative;
}
body{
    background: #fff;
    font-family: 'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:200,400,700);

.site-canvas{
    margin-left: 100px;
}
.text-muted {
    color: #000;
}

.text-primary {
    color: #84b6bc
}

p {
    font-size: 15px;
    line-height: 1.75;
    font-weight: 300;
    font-family: 'Roboto';
}

p.large {
    font-size: 16px
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
}

a {
    color: #606060;
}

a:hover,
a:focus,
a:active,
a.active {
    color: #808080;
}
h1, .h1, h2, .h2, h3, .h3{
    margin: 25px 0;
}
h1{
    font-family: 'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;
}
h2,
h3{
    font-family: 'GothamMedium', "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h4,
h5,
h6 {
    font-family: 'GothamLight', "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-bottom: 15px;
}
p{
    font-family: 'GothamLight', "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.no-gutter > [class*=col-], .no-gutter > .container-fluid {
    padding-right: 0;
    padding-left: 0;
}

.img-centered {
    margin: 0 auto;
}
.img-full{
    img{
        width: 100%;
    }
}
section.full-height{
    height: 100%;
    .section-box{
        padding: 0 45px;
    }
    .slider{
        height: 100%;
    }
    > div{
        height: 100%;
    }
    .full-image{
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        a.video-button{
            font-size: 68px;
            color: #fff;
            text-align: center;
            display: block;
        }
    }
}
.vcenter{
    position: relative;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.bg-white {
    background-color: #fff;
}
.text-white{
    color: #fff;
}
.bg-light-gray {
    background-color: #f2f2f2;
}
.bg-green {
    background-color: #84b6bc;
    color:#fff;
}
.bg-darkest-gray {
    background-color: #202020;
}
.bg-black {
    background-color: #000;
}

.btn-lg{
    font-size: 14px;
    font-family: 'Montserrat';
    padding: 5px 35px;
    font-weight: 700;
}
.btn-sm{
    padding: 5px 25px;
}
.btn-primary {
    color: #fff;
    background-color: #84b6bc;
    border-color: #84b6bc;
    font-family: 'raleway', "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #fec503;
    border-color: #f6bf01
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-image: none
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    background-color: #84b6bc;
    border-color: #84b6bc
}

.btn-primary .badge {
    color: #84b6bc;
    background-color: #fff
}

.btn-black {
    color: #000;
    background-color: transparent;
    border:2px solid #000;
    font-family: 'raleway', "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    border-radius: 0px;
}

.btn-black:hover,
.btn-black:focus,
.btn-black:active,
.btn-black.active,
.open .dropdown-toggle.btn-black {
    color: #fff;
    background-color: #000;
    border-color: #000;
}

.btn-black:active,
.btn-black.active,
.open .dropdown-toggle.btn-black {
    background-image: none
}

.btn-white {
    color: #fff;
    background-color: transparent;
    border:2px solid #fff;
    font-family: 'raleway', "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    border-radius: 0px;
    font-weight: 700;
}

.btn-white:hover,
.btn-white:focus,
.btn-white:active,
.btn-white.active,
.open .dropdown-toggle.btn-white {
    color: #000;
    background-color: #fff;
    border-color: #fff;
}

.btn-white:active,
.btn-white.active,
.open .dropdown-toggle.btn-white {
    background-image: none
}

.btn-xl {
    color: #fff;
    background-color: transparent;
    border:4px solid #fff;
    font-family: 'raleway', "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    border-radius: 0px;
    font-size: 15px;
    padding: 20px 40px;
    position: relative;
}

.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    color: #000;
    background-color: #fff;
    border-color: #fff;
}

.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    background-image: none
}

.btn-xl.disabled,
.btn-xl[disabled],
fieldset[disabled] .btn-xl,
.btn-xl.disabled:hover,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl:hover,
.btn-xl.disabled:focus,
.btn-xl[disabled]:focus,
fieldset[disabled] .btn-xl:focus,
.btn-xl.disabled:active,
.btn-xl[disabled]:active,
fieldset[disabled] .btn-xl:active,
.btn-xl.disabled.active,
.btn-xl[disabled].active,
fieldset[disabled] .btn-xl.active {
    background-color: #fff;
    border-color: #fff;
}

.btn-xl .badge {
    color: #84b6bc;
    background-color: #fff
}

.btn-xl-invert {
    color: #000;
    background-color: transparent;
    border:4px solid #000;
    font-family: 'raleway', "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    border-radius: 0px;
    font-size: 15px;
    padding: 20px 40px
}

.btn-xl-invert:hover,
.btn-xl-invert:focus,
.btn-xl-invert:active,
.btn-xl-invert.active,
.open .dropdown-toggle.btn-xl-invert {
    color: #fff;
    background-color: #000;
    border-color: #000;
}

.btn-xl-invert:active,
.btn-xl-invert.active,
.open .dropdown-toggle.btn-xl-invert {
    background-image: none
}

.btn-xl-invert.disabled,
.btn-xl-invert[disabled],
fieldset[disabled] .btn-xl-invert,
.btn-xl-invert.disabled:hover,
.btn-xl-invert[disabled]:hover,
fieldset[disabled] .btn-xl-invert:hover,
.btn-xl-invert.disabled:focus,
.btn-xl-invert[disabled]:focus,
fieldset[disabled] .btn-xl:focus,
.btn-xl-invert.disabled:active,
.btn-xl-invert[disabled]:active,
fieldset[disabled] .btn-xl-invert:active,
.btn-xl-invert.disabled.active,
.btn-xl-invert[disabled].active,
fieldset[disabled] .btn-xl-invert.active {
    background-color: #000;
    border-color: #000;
}

.btn-xl-invert .badge {
    color: #000;
    background-color: #fff;
}

.btn-xl-noborder {
    color: #fff;
    background-color: transparent;
    border:none;
    font-family: 'raleway', "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    border-radius: 0px;
    font-size: 15px;
    padding: 15px 75px;
    position: relative;
}
.btn-xl-noborder p{
    margin: 0;
    font-size: 32px;
    letter-spacing: 0.35rem;
}

.btn-xl-noborder:hover,
.btn-xl-noborder:focus,
.btn-xl-noborder:active,
.btn-xl-noborder.active,
.open .dropdown-toggle.btn-xl {
    color: #fff;
    background-color: transparent;
}

.btn-xl-noborder:active,
.btn-xl-noborder.active,
.open .dropdown-toggle.btn-xl {
    background-image: none
}

.btn-xl-noborder .lines {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* Header */

header{
    background-repeat: none;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: center;
    color: #fff;
    height: 309px;
    .swiper-container {
        width: 100%;
        height: 100%;
    }
    .swiper-slide {
        width: 100%;
        text-align: center;
        font-size: 18px;
        background: #fff;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        background-repeat: none;
        background-attachment: scroll;
        background-position: center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
    }
    .swiper-slide-active{
        .lines{
            .line {
                -webkit-transition: all .5s ease-in-out .5s;
                transition: all .5s ease-in-out .5s;
            }
            .line.top {
                -webkit-transform: translateX(0);
                transform: translateX(0);
                background-color: #fff;
            }
            .line.bottom {
                -webkit-transform: translateX(0);
                transform: translateX(0);
                background-color: #fff;
            }
            .line.left {
                -webkit-transform: translateY(0);
                transform: translateY(0);
                background-color: #fff;
            }
            .line.right {
                -webkit-transform: translateY(0);
                transform: translateY(0);
                background-color: #fff;
            }
        }
    }
    .swiper-caption{
        width: 100%;
        height: 100%;
        padding:0px;
        position: absolute;
        top: 0;
        left:0;
        background-color: rgba(0,0,0,0.75);
        text-align: center;
        .swiper-caption-inner{
            position: relative;
            top: 50%;
            transform: translate(0,-50%);
            h1{
                color: #fff;
                margin: 0;
            }
            p{
                color: #fff;
                letter-spacing: 3px;
            }
            a{
                margin-bottom: 10px;
            }
        }
        .lines .line.top,
        .lines .line.bottom {
            width: 100%;
            height: 2px;
        }
        .lines .line.left,
        .lines .line.right {
            height: 100%;
            width: 2px;
        }
    }
    .swiper-pagination{
        bottom: 45px;
        left: 45px;
        .swiper-pagination-bullet{
            margin: 5px 0;
            display: block;
        }
    }
}

header .intro-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    -webkit-transform:translate(-50%,-50%);
    p{
        letter-spacing: 8px;
    }
}

header .intro-text .intro-lead-in {
    
    font-style: italic;
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 25px
}

header .intro-text .intro-heading {
    font-family: 'raleway', "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 25px;
    letter-spacing: 8px;
}
header .intro-text .intro-heading-button p{
    position: relative;
    top: 50%;
    margin-top: -18px;
    text-decoration: none;
    color: #fff;
}
.mainevent{
    background-color: #101010;
    text-align: center;
    color: #fff;
    overflow: hidden;
    .ph{
        opacity: 0.1;
        background-image: url(../img/header-bg.jpg);
        background-repeat: none;
        background-attachment: scroll;
        background-position: center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
        width: 100%;
        height: 100%;
        transform:scale(1);
        transition: all ease .5s;
        -webkit-transition: all ease .5s;
        -moz-transition: all ease .5s;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
}
.mainimage{
    background-color: #101010;
    text-align: center;
    color: #fff;
    overflow: hidden;
    .ph{
        opacity: 1;
        background-repeat: none;
        background-attachment: scroll;
        background-position: center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
        width: 100%;
        height: 100%;
    }
}

@media (min-width:768px) {
    header .intro-text .intro-lead-in {
        
        font-style: italic;
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 25px
    }
    header .intro-text .intro-heading {
        font-family: 'raleway', "Helvetica Neue", Helvetica, Arial, sans-serif;
        text-transform: uppercase;
        font-size: 45px;
        line-height: 45px;
        margin-bottom: 50px
    }
}

section .slider{
    height: 360px;
    .swiper-pagination{
        bottom: 40px;
        width: 100%;
        .swiper-pagination-bullet{
            margin: 0 2.5px;
        }
    }
    .swiper-button-prev, .swiper-container-rtl .swiper-button-next{
        left: 40px;
    }
    .swiper-button-next, .swiper-container-rtl .swiper-button-prev{
        right: 40px;
    }
    .swiper-slide{
        background-size: cover;
        background-position: center;
    }
}
section:last-child{
    margin-bottom: 0px;
}
section.bg-light-gray{
}
section h2.section-heading {
    font-size: 36px;
    color: #101010;
    letter-spacing: 3px;
    font-weight: 300;
}
section h3.section-heading {
    font-size: 24px;
    color: #101010;
    letter-spacing: 3px;
    font-weight: 300;
}
section .section-hr {
    width: 35px;
    height: 3px;
    background-color: #fff;
    display: inline-block;
    margin: 15px 0;
}
section .section-img{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

section h3.section-subheading, section h4.section-subheading {
    font-size: 12px;
    text-transform: none;
    color: #606060;
    text-transform: uppercase;
    margin: 0;
    font-family: 'Montserrat';
    font-weight: 700;
    letter-spacing: .75px;
}

section .section-body{
    p {
        font-family: 'Roboto';
        text-transform: none;
        color:#606060;
        text-align: justify;
    }
}
section .section-links{
    margin-bottom: 15px;
    a {
        text-transform: none;
        color:#fff;
        text-align: justify;
    }
}
section .section-subinfo{
    text-align: center;
    h2.section-heading{
        color: #000;
        font-family: "Roboto";
        font-size: 42px;
        font-weight: 300;
        letter-spacing: 0.25px;
        text-align: left;
    }
    h3.section-subheading, h4.section-subheading{
        color: #000;
        margin-bottom: 17px;
        line-height: 1.5;
        text-align: left;
    }
    .section-body{
        margin-top: 15px;
        p{
            color: #575757;
            font-size: 16px;
            font-weight: 300;
        }
    }
    .section-hr{
        display: block;
    }
    ul.social-buttons li a{
        background-color: transparent;
        color: #606060;
    }
    ul.social-buttons li a:hover,
    ul.social-buttons li a:focus,
    ul.social-buttons li a:active {
        background-color: transparent;
        color: #444;
    }
}
section .section-subinfo.white{
    h2.section-heading, h3.section-subheading, h4.section-subheading, p{
        color: #fff;
    }
}
section .no-margin {
    margin:0 !important;
}
section .section-box{
    padding: 45px;
}
section .section-box-alt{
    padding: 0 45px;
}
section .section-box-double{
    margin: 90px;
}

@media (min-width:768px) {
    section {
    }
}

section.bg-white{
    h2.section-heading{
        color: #000;
    }
    h3.section-subheading{
        color: #202020;
    }
    .section-body p{
        color: #666;
    }
}

.service-heading {
    margin: 15px 0;
    text-transform: none;
}

.grid{
    .grid-item {
        margin: 0;
        right: 0;
        .grid-link {
            display: block;
            position: relative;
            margin: 0 auto;
            background: #000;
            overflow: hidden;
            .grid-hover {
                position: absolute;
                width: 100%;
                height: 100%;
                transition: all ease .5s;
                -webkit-transition: all ease .5s;
                -moz-transition: all ease .5s;
                .grid-hover-content {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    font-size: 20px;
                    text-align: center;
                    color: #fff;
                    p {
                        font-family: 'Montserrat';
                        font-weight: 400;
                        text-transform: uppercase;
                        font-size: 14px;
                        top: 50%;
                        margin-top: 0;
                        position: relative;
                        transition: all ease .5s;
                        -webkit-transition: all ease .5s;
                        -moz-transition: all ease .5s;
                        opacity: 0;
                        letter-spacing: 0.25em;
                        z-index: -1;
                    }
                }
            }
        }
        .ph{
            transition: all ease .5s;
            -webkit-transition: all ease .5s;
            -moz-transition: all ease .5s;
            opacity: 0.35;
            width: 100%;
            height: 300px;
            background-repeat: none;
            background-attachment: scroll;
            background-position: center center;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            background-size: cover;
            -o-background-size: cover;
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
            z-index: -1;
            transform:scale(1);
        }
        .grid-caption {
            margin: 0 auto;
            background-color: #fff;
            padding: 45px;
            h4 {
                font-family: 'Montserrat';
                margin: 0;
                font-size: 12px;
                color: #000;
                margin-top: 0px;
                font-weight: 700;
                margin-top: 5px;
                text-transform: uppercase;
            }
            p {
                font-family: 'Roboto';
                font-size: 24px;
                margin: 0;
                line-height: 1.25;
                letter-spacing: .75px;
                font-weight: 300;
                margin-top: 10px;
                color: #444;
            }
        }
    }
    .grid-item:hover{
        .grid-link{
            .grid-hover{
                .grid-hover-content{
                    p {
                        opacity: 1;
                        margin-top: -18px;
                    }
                    i {
                        margin-top: -12px;
                    }
                    h3,h4{
                        margin: 0;
                    }
                }
            }
        }
        .ph {
            opacity: 0.8;
            -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
            transform:scale(1.1);
        }
    }
    .grid-item:last-child{
        .item-async:first-child{
            float: right;
        }
    }
}

.grid * {
    z-index: 2
}
.row-async:nth-child(even){
    p.year-number{
        right: 0;
    }
    .col-async-left{
        float:right;
    }
}

@media (min-width:767px) {
    .grid .grid-item {

    }
}


/* About */

section#about{
    padding: 60px 0;
    a.btn-black{
        margin: 25px 0;
        display: inline-block;
    }
}

.about{
    section .section-subinfo .section-body{
        font-family: "Roboto";
        font-size: 16px;
    }
    .about-img{
        img{
            width: 100%;
            height: auto;
        }
    }
}
/* Contact */

section#contact {
    background-color: #222;
    background-image: url(../img/map-image.png);
    background-position: center;
    background-repeat: no-repeat
}

section#contact .section-heading {
    color: #fff
}

section#contact .form-group {
    margin-bottom: 25px
}

section#contact .form-group input,
section#contact .form-group textarea {
    padding: 20px
}

section#contact .form-group input.form-control {
    height: auto
}

section#contact .form-group textarea.form-control {
    height: 236px
}

section#contact .form-control:focus {
    border-color: #84b6bc;
    box-shadow: none
}

section#contact::-webkit-input-placeholder {
    font-family: 'raleway', "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    color: #bbb
}

section#contact:-moz-placeholder {
    font-family: 'raleway', "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    color: #bbb
}

section#contact::-moz-placeholder {
    font-family: 'raleway', "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    color: #bbb
}

section#contact:-ms-input-placeholder {
    font-family: 'raleway', "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    color: #bbb
}

section#contact .text-danger {
    color: #e74c3c
}
section#events{
    .year{
        position: relative;
        p.year-number{
            margin: 0;
            font-size: 48px;
            text-align: center;
            color: #fff;
            padding: 30px 0;
        }
    }
}
.lineup{
    a::after{
        content: " / ";
    }
    a:last-child::after{
        content: "";
    }
}

footer {
    padding: 60px 50px;
    text-align: center;
    background-color: #000;
    .footmenu{
        font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 300;
        a{
            width: 100%;
            display: block;
            color: #fff;
        }
        a:hover{
            text-decoration: none;
            color: #606060;
        }
    }
}

footer span.copyright {
    line-height: 40px;
    font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    text-transform: none
}

footer ul.quicklinks {
    margin-bottom: 0;
    line-height: 40px;
    font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    text-transform: none
}

ul.social-buttons {
    margin-bottom: 0
}

ul.social-buttons li a {
    display: block;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    color: #fff;
    outline: 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    text-align: center;
    margin: 0 5px;
}

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
    color: #606060;
}


.share-button{
    float: left;
    width: 100%;
    padding-bottom:20px;
}

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
    outline: 0
}

.grid-modal .modal-content {
    border-radius: 0;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0;
    min-height: 100%;
    padding: 100px 0;
    text-align: center
}

.grid-modal .modal-content h2 {
    margin-bottom: 15px;
    font-size: 3em
}

.grid-modal .modal-content p {
    margin-bottom: 30px
}

.grid-modal .modal-content p.item-intro {
    margin: 20px 0 30px;
    
    font-style: italic;
    font-size: 16px
}

.grid-modal .modal-content ul.list-inline {
    margin-bottom: 30px;
    margin-top: 0
}

.grid-modal .modal-content img {
    margin-bottom: 30px
}

.grid-modal .close-modal {
    position: absolute;
    width: 75px;
    height: 75px;
    background-color: transparent;
    top: 25px;
    right: 25px;
    cursor: pointer
}

.grid-modal .close-modal:hover {
    opacity: .3
}

.grid-modal .close-modal .lr {
    height: 75px;
    width: 1px;
    margin-left: 35px;
    background-color: #222;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    z-index: 1051
}

.grid-modal .close-modal .lr .rl {
    height: 75px;
    width: 1px;
    background-color: #222;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    z-index: 1052
}

.grid-modal .modal-backdrop {
    opacity: 0;
    display: none
}

::-moz-selection {
    text-shadow: none;
    background: #84b6bc
}

::selection {
    text-shadow: none;
    background: #84b6bc
}

img::selection {
    background: 0 0
}

img::-moz-selection {
    background: 0 0
}

body {
    webkit-tap-highlight-color: #84b6bc
}

/* Carousel */

.carousel{
    .swiper-container {
        width: 100%;
        height: 264px;
        margin: 0px auto;
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
}


/* Lines Effect */

.lines {
    position: absolute;
    top: 20px;
    left: 20px;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    overflow: hidden;
}

.lines .line {
    background-color: #84b6bc;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    position: absolute;
}

.lines:hover .line {
    background-color: #fff;
}

.lines .line.top,
.lines .line.bottom {
    width: 100%;
    height: 2px;
}
.lines .line.top{
    top: 0;
    left: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}
.lines:hover .line.top {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.lines .line.bottom{
    bottom: 0;
    right: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}
.lines:hover .line.bottom {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.lines .line.left,
.lines .line.right {
    height: 100%;
    width: 2px;
}
.lines .line.left{
    top: 0;
    left: 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
}
.lines:hover .line.left {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.lines .line.right{
    bottom: 0;
    right: 0;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
}
.lines:hover .line.right {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
